.container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.wrapper {
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.label {
  margin-bottom: 10px;
}
.input {
  height: 40px;
}
.button {
  border: none;
  background-color: teal;
  color: white;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
